<ul>
	<%= form_tag flights_path, method: :get do %>
		<% fields_for :search do |f| %>
			<li>
				<%= f.label "FROM" %>
				<%= f.select(:start_location, options_for_select(@start_locations))  %>
			</li>
			<li>
				<%= f.label "TO" %>
				<%= f.select(:destination, options_for_select(@destinations)) %>
			</li>
			<li>
				<%= f.label "Passengers" %>
				<%= f.select(:num_passengers, options_for_select(@num_passengers) ) %>
			</li>
			<li>
				<%= f.select("departure_time", options_from_collection_for_select(@departure_times, :departure_time, :departure_time_formatted)) %>
			</li>
			<li>
				<%= f.submit "Submit", name: nil %>
			</li>
		<% end %>
	<% end %>
</ul>

<% if @results %>
	<% @results.each do |result| %>
		<%=  result.start_location.code %>
		<%= result.destination.code %>
		<%= result.departure_time %>
	<% end %>
<% end %>